<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~  * Created by Valentin Grachev on 25.11.2021, 0:12
  ~  * Copyright (c) 2021 . All rights reserved.
  ~  * Last modified 20.11.2021, 12:00
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jizoquval.clapperboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clapperboard">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Clapperboard.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>